<h1>Welcome to Friend List</h1>
<h3>Store all of your contacts information saftely with Friend List!</h3>
   <br/><br/>
<p> Click <%= link_to "Sign In", new_user_session_path, class: "link-underline link-underline-opacity-0"  %> to start managing your contacts.</p>
<p> Click <%= link_to "Sign Up", new_user_registration_path, class: "link-underline link-underline-opacity-0" %> to create a new account!</p>